.profile__add-button {
  width: 150px;
  height: 50px;
  grid-area: add;
  margin-left: auto;
  background: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.add-button {
  max-width: 22px;
  max-height: 22px;
  grid-area: add;
}

.profile__add-button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 820px ) {
  .profile__add-button {
    width: 282px;
    margin: 0;
  }
  
  .add-button {
    max-width: 16px;
    max-height: 16px;
  }
}
