.header {
  max-width: 880px;
  margin: 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 0 0 41px 0;
}

@media screen and (max-width: 820px) {
  .header {
    max-width: 100%;
    padding: 0 0 32px 0;
  }
}
